@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fruit Bank</h1>
    <p>Welcome to the world's most comprehensive and exhaustive encylopedia of fruit.</p>
</div>
